*,
*:before,
*::after {
  box-sizing: inherit;
  font-family: "Open Sans", sans-serif;
}

body {
  margin-top: 20px;
  background-color: #e5e5e5;
}

a {
    text-decoration: none;
}

.container {
  max-width: 1280px;
  height: 720px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
  border: solid 1px #ffffff;
  border-radius: 40px;
  background-color: #ffffff;
}

/* Área de principal -------------------------------------------------------------------------*/

.login {
    grid-column: 1;
    width: 300px;
    height: 720px;
    background-color: #ffffff;
    border-radius: 40px 0px 0px 40px;
}

.areaUsuario {
    margin-top: 10px;
    margin-left: 10px;
    width: 90%;
    height: 97%;
    background-color: #333333;
    border-radius: 40px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
  
/* Área de dados do login -------------------------------------------------------------------------*/

.logoMarca {
    grid-row: 1;
}

.logMarca {
    margin-top: 7.5vh;
    margin-left: 35%;
}

.mega {
    grid-row: 2;
}

.mega h2 {
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 49px;
    color: #FFA500;
}

.mega p {
    text-align: center;
    margin-top: -20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 49px;
    color: #FFFFFF;
}

.megaNumeros {
    width: 100%;
    margin-left: 5vh;
}

.numerosMega {
  
    text-align: center;
    margin-top: -20px;
    margin-left: 0.5rem;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: #FFFFFF;
    
}

.bemVindo {
    grid-row: 3;
}

.bemVindo h2 {
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 49px;
    color: #FFA500;
}

.bemVindo p {
    text-align: center;
    margin-top: -20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 49px;
    color: #FFFFFF;
}

.qtdJogadores {
    grid-row: 4;
}

.qtdJogadores h2 {
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 49px;
    color: #FFA500;
}

.qtdJogadores p {
    text-align: center;
    margin-top: -20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 49px;
    color: #FFFFFF;
}


.totalPago {
    grid-row: 4;
}

.totalPago h2 {

    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 49px;
    color: #FFA500;
}

.totalPago p {
    text-align: center;
    margin-top: -20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 49px;
    color: #FFFFFF;
}

.dados {
    grid-column: 2;
    height: 600px;
    display: grid;
    grid-template-rows: 140px 140px 1fr;
    grid-gap: 20px;
    background-color: #ffffff;
    border-radius: 0px 40px 40px 0px;
}

.primeiroResultado {
    margin-top: 2.5rem;
}

.resultado p {
    margin-left: 6rem;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #E0E0E0;
}

.numerosAcertados {
    grid-row: 1;
    display: grid;
    grid-template-areas: "jogoName numb btn1 resultado";
}

.nameJogo {grid-area: jogoName;}

.nameJogo p {
    margin-top: 3rem;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #FFA500;
}

.verificarNumeros{
    grid-area: numb;
    margin-top: 3.5rem;
    margin-left: -2rem;
    max-width: 220px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.verificarNumeros ul {
    list-style-type: none;
    margin-top: 8px;
    margin-left: -20px;
}

.verificarNumeros ul li {
    display: inline;
}

.verificarNumeros input{
    width: 18px;
    height: auto;
    border: none;
    color: #ffeb3b;
    font-weight: 800;
    font-family: Open Sans;
}

.areaJogo {
    grid-area: btn1;
    margin-top: -1.5rem;
    margin-left: 14rem;
}

.btnVerificar {
    margin-top: -8rem;
    text-align: center;
    width: 122.9px;
    height: 31px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    color: #FFA500;
}

.fundoCadastro {
    width: 98%;
    height: 140px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: grid;
    grid-template-areas: "input1 numeros input3 btn";
}

.nomeCadastro {grid-area: input1;}

#textJogadorName {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 33px;
    color: #757575;
}

.nomeCadastro h2 {
    margin-top: 0px;
    margin-left: 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #FFA500;
}

.nomeCadastro p {
    margin-top: -0.5rem;
    margin-left: 1rem;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #E0E0E0;
    text-shadow: 0px 1px rgba(0,0,0,0.25);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.nomeCadastro input{
    padding: 8px 40px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.numerosCadastro{grid-area: numeros;}

.numerosCadastro p {
    margin-top: 3.5rem;
    margin-right: 1rem;
    text-align: right;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #E0E0E0;
    text-shadow: 0px 1px rgba(0,0,0,0.25);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.numerosGerais{
    grid-area: input3;
    margin-top: 3.5rem;
    max-width: 220px;
    height: 25px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.numerosGerais ul {
    list-style-type: none;
    margin-top: 4px;
    margin-left: -20px;
}

.numerosGerais ul li {
    display: inline;
}

.numerosGerais input{
    width: 18px;
    height: auto;
    border: none;
    color: #ffeb3b;
    font-weight: 800;
    font-family: Open Sans;

}

.numerosGerais, .verificarNumeros span {
    color: #E0E0E0;
}

.areaCadastro{grid-area: btn;}

.btnCadastro {
    margin-top: 3.3rem;
    margin-right: -4rem;
    text-align: center;
    width: 122.9px;
    height: 31px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    color: #FFA500;
}

.cadastro {
    grid-row: 2;
}

.dadosCadastrados {
    grid-row: 3;
}

.fundoDados {
    width: 98%;
    min-height: 387px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    /* overflow-y: scroll;
    scroll-behavior: smooth; */
}

.fundoDados h2 {
    margin-left: 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #FFA500;
}

.over {
    max-width: 99%;
    max-height: 300px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.over::-webkit-scrollbar-track {
    background-color: #E0E0E0;
}
.over::-webkit-scrollbar {
    width: 6px;
    background: #FFA500;
}
.over::-webkit-scrollbar-thumb {
    background: #FFA500;
}

.tabelaRegistro {
    width: 98%;
    height: 80px;
    margin: 8px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.registro01 {
    grid-column: 1;
}

.registro02 {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.registro01 ul {
    list-style-type: none;
    margin-top: 1.4rem;
    margin-left: 1%;
}

.registro01 ul li {
    display: inline;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #757575;
}

.registro02 ul {
    list-style-type: none;
    margin-top: 1rem;
}

.registro02 ul li {
    display: inline;
    color: #ffeb3b;
    font-weight: 800;
    font-family: Open Sans;
}

.numberRegistro {

    margin-top: 1.8rem;
    margin-right: 1.5rem;
    text-align: right;
    grid-column: 1;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #E0E0E0;
    text-shadow: 0px 1px rgba(0,0,0,0.25);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;

}

.tabelaRegistro button {
    border: none;
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
}

.nomeRegistro {
    margin-left: 40px;
}

.boxNumber {
    grid-column: 2;
    margin-top: 0.8rem;
}

.boxNumeros {

    max-width: 202px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.boxNumeros span {
    color: #E0E0E0;
}

.nn {
    margin-left: -1.5rem;
}